
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

h1{color: green;
    font-family: 'Rubik Gemstones', cursive;
    font-size: 70px;
    background-color: white;
}