img{
    max-width: 100%;
}
p{
background-color: aqua;
color: black;
font-size: 30px;

}
/* for laptop */
@media screen and (min-width:769px) and(max-width:1024px){
  img { max-width: 100%;}
}

@media screen and (min-width:1025px) and(max-width:1200px){
    img{max-width: 100%;}
}

@media screen and (min-width:481x) and(max-width:768px){
  img{  max-width: 100%;}
}

@media screen and (min-width:320px) and(max-width:480px){
    img{max-width:100%;}
}
    
